.intersection {
  display: flex;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  padding: 0 12px;
}

.container:first-of-type {
  justify-content: flex-end;
}

.container:last-of-type {
  justify-content: flex-start;
}
