.crosswalkContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.crosswalk {
  width: 150px;
  height: 150px;
  background-color: darkgrey;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crosswalkSign {
  background-color: grey;
  width: 80%;
  height: 80%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-break: auto;
  text-align: center;
  text-transform: uppercase;
}

.poleContainer {
  display: flex;
  justify-content: center;
}

.pole {
  height: 25vh;
  width: 25px;
  background-color: grey;
}
